name: Cypress E2E

on: 
    push:
    workflow_dispatch:

jobs: 
    cypress-run:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: true
            matrix:
                browser: [chrome, firefox]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Cypress run in ${{matrix.browser}}
              uses: cypress-io/github-action@v6
              with:
                browser: ${{matrix.browser}}
                command: npx cypress run --browser ${{matrix.browser}} --reporter-options reportDir=cypress/results/${{matrix.browser}}
            
            - name: Generate Report
              run: npx mochawesome-merge cypress/results/${{matrix.browser}}/*.json > cypress/reports/${{matrix.browser}}/mochawesome.json

            - name: Generate HTML Report
              run: npx marge cypress/reports/${{matrix.browser}}/mochawesome.json --reportDir cypress/reports/${{matrix.browser}} -f "${{matrix.browser}}-report.html"

            - name: Upload HTML Report
              uses: actions/upload-artifact@v4
              with:
                name: Cypress HTML Report ${{matrix.browser}}
                path: cypress/reports/${{matrix.browser}}


