name: Cypress E2E

on: 
    push:
    workflow_dispatch:

jobs: 
    cypress-run:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: true
            matrix:
                browser: [chrome, firefox]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Cypress run in ${{matrix.browser}}
              uses: cypress-io/github-action@v6
              with:
                browser: ${{matrix.browser}}


